## .NET
bin/
obj/
*.user
.vs/
*.suo

## Rider / VS Code
.idea/
.vscode/

## Build results
[Dd]ebug/
[Rr]elease/

## Configuration
appsettings.json
appsettings.*.json
*.env
.env*
*.log
*.tmp
*.swp
Thumbs.db
